.onboarding-container {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  position: relative;
  color: #fff;
}

.onboarding-container #capsule_area {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(18deg);
  width: fit-content;
  height: 90%;
}

.onboarding-container #capsule_area > img {
  height: 100%;
  object-fit: contain;
}

.title-area {
  margin: 0 2.5rem;
  height: 100%;
  position: relative;
}

.title-area > .contents {
  position: absolute;
  width: 100%;
  bottom: 20%;
}

.title-area p {
  text-align: right;
  font-weight: 700;
  font-size: 2.25rem;
}

.title-area button {
  justify-content: space-evenly;
  font-size: 1.25rem;
  width: 100%;
  margin-top: 1rem;
  border: none;

  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 8px 13px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
}

@media all and (max-width: 320px) {
  .title-area p {
    font-size: 2rem;
  }
  .title-area button {
    font-size: 1rem;
  }
}

@media all and (min-width: 425px) {
  .title-area button {
    font-size: 1.4rem;
  }
  .onboarding-container #capsule_area {
    height: 100%;
  }
}
