.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 5rem 0 0;
  /* color: #363636; */
  color: #fff;
}

.container.home {
  justify-content: space-between;
  padding: 5rem 0 4.5rem;
}

.greeting {
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h2 span {
  font-size: 2rem;
}

.cap-div {
  align-self: center;
  position: relative;
  /* margin: 2rem 0; */
  height: 55vh;
}

.cap-div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

#shadow {
  width: 130%;
  position: absolute;
  left: -14%;
  bottom: -50%;
  z-index: -1;
}

.cap-txt-area {
  text-align: center;
  font-weight: 700;
  position: absolute;
  left: 30%;
  top: 15%;
}

.cap-txt-area p:nth-of-type(2) {
  margin-top: 1rem;
  font-family: 'Digital Numbers';
  font-size: 3rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 400;
}

.btn-row-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 88%;
}

.btn-row-div > button:nth-of-type(1) {
  width: 38%;
}

.btn-row-div > button:nth-of-type(2) {
  width: 58.5%;
}

.container.addedlist > .title-div {
  z-index: 100;
  text-align: center;
}

.container.addedlist > .btn-div {
  display: flex;
  flex-direction: column;
}

/* mobile */
@media screen and (max-width: 390px) {
  .cap-div {
    width: 50%;
  }
}
