.cd-App {
  overflow: hidden;
}

.cd-slide-container {
  position: relative;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column-reverse; 
}

.cd-slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  filter: brightness(50%)
}

.cd-slide-text {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  color: #fff; 
  font-weight: 200;
  font-size: 1.2rem; 
  margin-left: 5%; 
  margin-top: 15%;
}

.cd-info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
}

.cd-button-container {
  margin-top :5%;
  display: flex;
  align-items: center; 
}

.cd-button-container > * {
  margin-right: 4% 
}


.cd-content {
  align-self: flex-start; 
  margin-top:100%; 
  margin-right: 30%;
}

.cd-sliding-button {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: -5%;
  cursor: pointer;
  width: 100px; 
  height: 100px; 
  
}

.cd-sliding-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.cd-from span,
.cd-date span {
  font-weight: 1000;
}


.slick-dots {
  position: absolute;
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots button {
  font-size: 0; 
  line-height: 0;
  width: 10px;
  height: 10px;
  background-color: #fff; 
  border: 1px solid #ddd; 
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slick-dots button:hover {
  background-color: #ddd; 
}

.slick-dots .slick-active button {
  background-color: #333; 
}


.marquee {
  height: 25px;
  width: 420px;

  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: 30px;

  position: absolute;
  overflow: hidden;

  animation: marquee 5s linear infinite;
}

.marquee span {
  float: left;
  width: 500%;
}

@keyframes marquee {
  0% { left: +10%; }
  100% { left: -100%; }
}


@media screen and (max-width: 390px) {
  .cd-content {
    margin-top:70%; 
  }
}