html, body {
  margin: 0;
  padding: 0;
}

.App {
  overflow: hidden;
}

.info-container {
  position: fixed;
  top: 10px;
  left: 10px;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}

.date {
  
  top: 10px;
  right: 10px;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}
.slide-container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse; /* 역순으로 배치 */
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.slide-text {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
}
.song-title {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px; /* 예시로 지정한 폰트 크기 */
}

.content {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px; /* 예시로 지정한 폰트 크기 */
}

.sliding-button {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
  cursor: pointer;
  width: 100px; 
  height: 100px; 
}

.sliding-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media screen and (max-width: 390px) {
  .cap-div {
    width: 50%;
  }
}